.app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(84, 84, 126),
    rgb(100, 154, 186)
  );
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
